.message
  .message__upper-info
    .message__upper-info__user
      test
    .message__upper-info__data
      2019/7/15(Mon) 12:00:00
  .massage__text
    おはよう
.message
  .message__upper-info
    .message__upper-info__user
      test
    .message__upper-info__data
      2019/7/15(Mon) 12:00:00
  .massage__text
    おはよう
.message
  .message__upper-info
    .message__upper-info__user
      test
    .message__upper-info__data
      2019/7/15(Mon) 12:00:00
  .massage__text
    おはよう
.message
  .message__upper-info
    .message__upper-info__user
      test
    .message__upper-info__data
      2019/7/15(Mon) 12:00:00
  .massage__text
    おはよう
.message
  .message__upper-info
    .message__upper-info__user
      test
    .message__upper-info__data
      2019/7/15(Mon) 12:00:00
  .massage__text
    おはよう
.message
  .message__upper-info
    .message__upper-info__user
      test
    .message__upper-info__data
      2019/7/15(Mon) 12:00:00
  .massage__text
    おはよう
.message
  .message__upper-info
    .message__upper-info__user
      test
    .message__upper-info__data
      2019/7/15(Mon) 12:00:00
  .massage__text
    おはよう